* {
    box-sizing: border-box;
}
body {
	max-width: 60em;
 	margin: 0 auto;
}
h3 {
  text-align: center;
}
.col-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;      
}
.col-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
}
.col-4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;     
}

.col-2, .col-3, .col-4 {
  gap:2em;
  row-gap: 1em;
  border:1px solid #888;
  padding: 1em; 
}
header, footer {
    background: #deeadd;
    text-align: center;
    margin-top: 0;
    padding: 1em;
}
.footer {
    display: flex; 
    flex-flow: row;  
    justify-content: space-around;
    align-items: center;
    margin:0;
    padding: 0;
    list-style-type: none;
}

